[Unit]
Description=Finance Tracker Telegram Bot
After=network.target

[Service]
Type=simple
User=lpohsien00
WorkingDirectory=/home/lpohsien00/finance-tracker
ExecStart=/home/lpohsien00/finance-tracker/.venv/bin/python /home/lpohsien00/finance-tracker/src/main.py
Restart=always
RestartSec=10
EnvironmentFile=/home/lpohsien00/finance-tracker/.env

[Install]
WantedBy=multi-user.target
