server {
    listen 80;
    listen [::]:80;
    server_name $DOMAIN_NAME;

    # Let's Encrypt Verification
    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    # In init mode, we just want to serve the challenge.
    # We can return a status for other requests.
    location / {
        return 200 "Waiting for certificates...";
    }
}
